{% extends "solver/solver_div.html" %}

{% block solver_block %}
    <div id="sudoku-wrapper">
          <table id="sudoku-table" class="sudoku sudoku-{{ max_sudoku_number }}x{{ max_sudoku_number }}">
              {% for x in max_sudoku_number|get_range %}
                  <tr>
                  {% for y in max_sudoku_number|get_range %}
                      <td class="sudoku-cell" id="cell-{{ x|mul:max_sudoku_number|add:y }}">
                        <div class="sudoku-solved-num" id="solved{{ x|mul:max_sudoku_number|add:y }}">
                            &nbsp;
                        </div>
                        <div class="sudoku-candidate-grid" id="notes{{ x|mul:max_sudoku_number|add:y }}">
                        {% for notes_y in max_sudoku_number|get_note_y|get_range %}
                            {% for notes_x in max_sudoku_number|get_note_x|get_range %}
                                <span class="sudoku-note-num"
                                        id="note{{ x|mul:max_sudoku_number|add:y }}-{{ max_sudoku_number|get_note_x|mul:notes_y|add:notes_x|add:1 }}">&nbsp;</span>
                            {% endfor %}
                            <br>
                        {% endfor %}

                        </div>
                      </td>
                  {% endfor %}
                  </tr>
              {% endfor %}
          </table>
    </div>

    <div>
        TODO other:<br>
        - nastavení - zobrazit obvious kolize<br>
        - highlight (udělat až po vyřešení uložení dat I guess)<br>
        - 16x16 janky + a-f se zobrazuje jako čísla => 16x16 potřebuje vip stránku pro sebe, necháno
        na později jako extra když bude čas<br>
        - classic mapování na každé sudoku?<br>
        - session minimálně pro udržení nastavení<br>
        <br>
        <br>
        pressing: <br>
        - when filling in, recalculate highligh and colisions accordingly
    </div>

{% endblock %}

{% block scripts %}
    {{ block.super }}

{% endblock %}