{% extends "solver/solver_base.html" %}

{% block solver_block %}
    <script> const max_sudoku_number = 9; </script>

    <div>
          <table class="sudoku sudoku-9x9">
              {% for x in 9|get_range %}
                  <tr>
                  {% for y in 9|get_range %}
                      <td class="sudoku-cell" id="cell-{{ x|mul:9|add:y }}">
                        <div class="sudoku-solved-num" id="solved{{ x|mul:9|add:y }}">
                            &nbsp;
                        </div>
                        <div class="sudoku-candidate-grid" id="notes{{ x|mul:9|add:y }}">
                            <span id="note{{ x|mul:9|add:y }}-1">&nbsp;</span>
                            <span id="note{{ x|mul:9|add:y }}-2">&nbsp;</span>
                            <span id="note{{ x|mul:9|add:y }}-3">&nbsp;</span>
                            <br>
                            <span id="note{{ x|mul:9|add:y }}-4">&nbsp;</span>
                            <span id="note{{ x|mul:9|add:y }}-5">&nbsp;</span>
                            <span id="note{{ x|mul:9|add:y }}-6">&nbsp;</span>
                            <br>
                            <span id="note{{ x|mul:9|add:y }}-7">&nbsp;</span>
                            <span id="note{{ x|mul:9|add:y }}-8">&nbsp;</span>
                            <span id="note{{ x|mul:9|add:y }}-9">&nbsp;</span>
                        </div>
                      </td>
                  {% endfor %}
                  </tr>
              {% endfor %}
          </table>
    </div>
    <button id="test">Test!</button>

    <table class="sudoku sudoku-9x9">
        <tr>
            <td class="sudoku-cell" id="cell-99">
                <div id="solved99" class="sudoku-solved-num" style="display: none;">
                    0
                </div>
                <div id="notes99" class="sudoku-candidate-grid">
                    <span id="note99-1">9</span>
                    <span id="note99-2">&nbsp;</span>
                    <span id="note99-3">&nbsp;</span>
                    <br>
                    <span id="note99-4">&nbsp;</span>
                    <span id="note99-5">&nbsp;</span>
                    <span id="note99-6">&nbsp;</span>
                    <br>
                    <span id="note99-7">&nbsp;</span>
                    <span id="note99-8">&nbsp;</span>
                    <span id="note99-9">&nbsp;</span>
                </div>
            </td>
        </tr>
    </table>

    <button onclick="snap_visibility_to_solved(99)">to solved</button>
    <button onclick="snap_visibility_to_notes(99)">to notes</button>

{% endblock %}

{% block scripts %}
    {{ block.super }}

{% endblock %}