{% extends "base.html" %}
{% load i18n %}

{% block content %}
<script>
    let cell_sector = [];
    const csrf_token = '{{ csrf_token }}';
    for(let i = 0; i < 81; i++) cell_sector.push(-1);
    $(document).ready(function() {
        for(let i = 0; i < 9; i++) {
            $('#sector_color_div_' + i).css({'background-color': custom_sector_to_color_mapping[i]});
        }
        $(window).keydown(function (event) {
            let key = event.keyCode;
            if (key === 9) {
                //tab
                if (selected_sector === 8) change_sector_coloring(0);
                else change_sector_coloring(selected_sector + 1);
            }
        });
    });
    let cell_left_without_sector_msg = {% trans '"Chyba: Jedna nebo více buněk nemají přiřazeny sektor."' %};
    let wrong_sector_count_msg = {% trans '"Chyba: Sektory nemají všechny přiřazeno 9 buněk."' %};
    let sectors_cells_not_touching = {% blocktrans %}
        'Chyba: Buňky jednoho nebo více sektorů netvoří souvislou plochu. Buňky musí tvořit shluk, ve kterém se' +
            ' navzájem dotýkají stranami alespoň jedné další ze stejného sektoru.'
        {% endblocktrans %};
</script>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="main-block">
                <div class="guide-title">{%  trans 'Editace sektorů sudoku Jigsaw' %}</div>
                <div>
                    {% blocktrans %}
                        <p>Jigsaw sudoku musí obsahovat 9 sektorů. Každý sektor musí být složen z 9 buněk, které
                            se navzájem dotýkají.</p>
                        <p>Prázdná mřížka sudoku níže slouží k zadání tvaru sektorů. Pomocí tlačítek s barvou níže
                        zvolíte barvu pro vybarvení sektoru. Změnit sektor lze stiskem jiného tlačítka nebo stiskem
                        klávesy TAB. Klikem nebo tahem myši nad políčkem sudoku aplikujete na buňku barvu.
                        Buňky se stejnou barvou budou tvořit jeden sektor.</p>
                        <p>Po stisku tlačítka "Potvrdit" budou sektory zkontrolovány a pokud jsou zadány korektně,
                        dojde k přesměrování zpět na řešení sudoku.</p>
                    {% endblocktrans %}
                </div>

                <table style="margin-left: auto; margin-right: auto">
                    <tr>
                        <td style="font-weight: bold">{% trans "Barva sektoru:" %}</td>
                    {% for x in 9|get_range %}
                        <td>
                            <button id="sector_color_{{ x }}" class="my-generic-button
                                {% if x == 0 %}
                                selected
                                {% else %}
                                unselected
                                {% endif %}
                             color-pick-button sector_color_button">
                                <div id="sector_color_div_{{ x }}" class="color-pick-div" style="background-color: darkslategrey;">&nbsp;</div>
                            </button>
                        </td>
                    {% endfor %}
                    </tr>
                    <tr>
                        <td style="font-weight: bold">{% trans "Počet buněk:" %}</td>
                        {% for x in 9|get_range %}
                            <td>
                                <div id="sector_color_status_{{ x }}" title="-1"
                                     style="text-align: center; font-weight: bold; color: red">0</div>
                            </td>
                        {% endfor %}
                    </tr>
                </table>

                <table id="sudoku-table" class="sudoku-jigsaw sudoku disable-select">
                    <tr>
                        <td></td>
                      {% for x in 9|get_range %}
                        <td class="outside-table-top">
                            {{ x|add:1 }}
                        </td>
                      {% endfor %}
                    </tr>
                  {% for x in 9|get_range %}
                      <tr>
                      <td class="outside-table-left">{{ x|add:1 }}</td>
                      {% for y in 9|get_range %}
                          <td class="edit-jigsaw-shape-cell" id="cell-{{ x|mul:9|add:y }}">
                            &nbsp;
                          </td>
                      {% endfor %}
                      </tr>
                  {% endfor %}
                </table>

                <div style="text-align: center">
                    <button id="edit-jigsaw-submit" class="btn btn-primary">
                        <div id="submit-text">{% trans "Potvrdit nové rozmístění sektorů" %}</div>
                        <div id="submit-loading" style="display: none;"><i class="fas fa-spinner fa-pulse"></i></div>
                    </button>
                </div>

                <button onclick="sample_sectors()">Sample sectors</button> <!-- TODO delete and replace with sample sectors -->
            </div>
        </div>
    </div>
</div>

{% endblock %}