{% extends "base.html" %}
{% load i18n %}

{% block modals %}
    {{ block.super }}

    <!-- Modal sudokuInfoModal -->
    <div class="modal fade" id="sudokuInfoModal" tabindex="-1" aria-labelledby="sudokuInfoModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
                {% trans 'Typ sudoku' %}
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            TODO popis co typy znamenají a že vyběrem se na ně přesune.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal strategyInfoModal -->
    <div class="modal fade" id="strategyInfoModal" tabindex="-1" aria-labelledby="strategyInfoModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
                {% trans 'Aplikovatelné strategie' %}
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            TODO
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block content %}
<script>
    const max_sudoku_number = {{ max_sudoku_number }};

    {% if developers_tools %}
        const developers_tools = true;
    {% else %}
        const developers_tools = false;
    {% endif %}
    {% if setting_show_collisions %}
        let setting_show_collisions = true;
    {% else %}
        let setting_show_collisions = false;
    {% endif %}

    {% if setting_shift_is_toggle %}
        let setting_shift_is_toggle = true;
    {% else %}
        let setting_shift_is_toggle = false;
    {% endif %}

    const csrf_token = '{{ csrf_token }}';
</script>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="main-block">
                <div class="custom-list-class">
                    {% trans 'Typ sudoku' %}
                    <i type="button" class="fas fa-info-circle" data-bs-toggle="modal"
                       data-bs-target="#sudokuInfoModal"></i>
                </div>
            </div>
            <div class="main-block">
                <p class="custom-list-heading">
                    {% trans 'Klasická sudoku' %}
                </p>
                <ul>
                    {% for key, sudoku_type in basic_sudokus.items %}
                    <li>
                        <a href="{{ key }}" class="custom-list-item">
                            {{ sudoku_type }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                TODO další typy
            </div>
        </div>
        <div class="col-md-6">
            <div class="main-block">
                {% block solver_div %}
                {% endblock %}
            </div>
        </div>
        <div class="col-md-3">
            <div class="main-block">
                <div class="custom-list-class">
                    {% trans 'Aplikovatelné strategie' %}
                    <i type="button" class="fas fa-info-circle" data-bs-toggle="modal"
                       data-bs-target="#strategyInfoModal"></i>
                </div>
            </div>
            <div class="main-block">
                Supported strategies here
            </div>

            <button onclick="test()">click me</button>
        </div>
    </div>
</div>
{% endblock %}