{% extends "solver/solver_layout.html" %}
{% load i18n %}

{% block modals %}
    {{ block.super }}

    <!-- Modal solverInfoModal -->
    <div class="modal fade" id="solverInfoModal" tabindex="-1" aria-labelledby="solverInfoModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
                {% trans 'Aplikace na řešení sudoku' %}
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            TODO
              <div class="settings-div">
                  <b>{% trans "Role klávesy Shift:" %}</b>
                  <form>
                      <input type="radio" id="settings-shift-toggle-on"/>
                      {% trans "Stisknutí shift přepínáná mezi zadáváním poznámky a vyplněním čísla." %}
                      <br>
                      <input type="radio" id="settings-shift-toggle-off"/>
                      {% trans "S podrženým shiftem je číslo vyplněno, bez podržení je vložena poznámka." %}
                  </form>
                  {% blocktrans %}
                      (V režimu vyplnění při podrženém shiftu tlačítka <i class="fas fa-pen-nib"></i>/
                      <i class="fas fa-pencil-alt"></i> pouze ukazují stav stisku klávesy a nelze přes ně přepínat režim
                      zadávání poznámky/vyřešeného čísla.)
                  {% endblocktrans %}
              </div>
              <div class="settings-div">
                  <b>{% trans "Zvýraznění kolizí" %}</b>
                  <form>
                      <input type="radio" id="settings-highlight-mistakes-off"/>
                      {% trans "Nezvýrazňovat číslice v přímé kolizi" %}
                      <br>
                      <input type="radio" id="settings-highlight-mistakes-on"/>
                      {% trans "Označit číslice v přímé kolizi červeně" %}
                  </form>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block solver_div %}
    <div class="row" style="margin: 0.2rem 0 1rem 0;">
        <div class="col-md-7">
            <i class="fas fa-download"></i>
            <a href="#" id="export-sudoku">
                {% trans "Stáhnout sudoku ve fromátu PNG" %}
            </a>
        </div>
        <div class="col-md-5" style="text-align: right">
            {% trans 'Ovládání a nastavení' %}
            <i type="button" class="fas fa-cog" data-bs-toggle="modal"
           data-bs-target="#solverInfoModal"></i>
        </div>
    </div>

    <div class="row" style="margin: 1rem 0 1rem 0;">
        <div class="col-md-4" style="text-align: center;">
            <div><b>
                {% trans "Mód zadávání" %}
            </b></div>
            <div>
                <button id="controls_fill_solved" class="sudoku-controls-button unselected">
                    <i class="fas fa-pen-nib"></i>
                </button>
                <button id="controls_fill_notes" class="sudoku-controls-button selected">
                    <i class="fas fa-pencil-alt"></i>
                </button>
            </div>
        </div>

        <div class="col-md-8">
            <div>
                <b>{% trans "Podbarvení čísel" %}</b>
            </div>
            <div>
                {% for num in max_sudoku_number|get_range %}
                    <button id="highlight_number_{{ num|add:1 }}" class="sudoku-controls-button unselected highlight-button">
                        {{ num|add:1 }}
                    </button>
                {% endfor %}
                <button id="highlight_number_-1" class="sudoku-controls-button selected highlight-button">
                    <i class="fas fa-ban"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="row" style="margin: 1rem 0 1rem 0;">
        {% if developers_tools %}
            <div class="col-md-12">
                <b>Custom highlight</b>
                <div>
                    <button id="custom-highlight-off" class="my-generic-button selected">
                        Off
                    </button>
                    <button id="custom-highlight-green" class="my-generic-button unselected color-pick-button">
                        <div class="color-pick-div" style="background-color: limegreen;">&nbsp;</div>
                    </button>
                    <button id="custom-highlight-yellow" class="my-generic-button unselected color-pick-button">
                        <div class="color-pick-div" style="background-color: yellow">&nbsp;</div>
                    </button>
                    <button id="custom-highlight-red" class="my-generic-button unselected color-pick-button">
                        <div class="color-pick-div" style="background-color: red">&nbsp;</div>
                    </button>
                    <button id="custom-highlight-remove-one" class="my-generic-button unselected color-pick-button">
                        <div class="color-pick-div" style="background-color: white;">&nbsp;</div>
                    </button>
                    <button id="custom-highlight-remove-all" class="my-generic-button unselected">
                        Remove All
                    </button>
                </div>
            </div>
        {% endif %}
    </div>



    {% block solver_block %}

    {% endblock %}
{% endblock %}