{% extends "base.html" %}
{% load i18n %}

{% block modals %}
    {{ block.super }}

    <!-- Modal strategyInfoModal -->
    <div class="modal fade" id="strategyInfoModal" tabindex="-1" aria-labelledby="strategyInfoModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
                {% trans 'Aplikovatelné strategie' %}
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            TODO
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Zavřít' %}</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block content %}
<script>
    const max_sudoku_number = {{ max_sudoku_number }};

    {% if developers_tools %}
        const developers_tools = true;
    {% else %}
        const developers_tools = false;
    {% endif %}

    {% if setting_sudoku_full_size %}
        let setting_sudoku_full_size = true;
    {% else %}
        let setting_sudoku_full_size = false;
    {% endif %}

    {% if setting_show_keyboard %}
        let setting_show_keyboard = true;
    {% else %}
        let setting_show_keyboard = false;
    {% endif %}

    {% if setting_shift_is_toggle %}
        let setting_shift_is_toggle = true;
    {% else %}
        let setting_shift_is_toggle = false;
    {% endif %}

    let show_keyboard = false;

    if (setting_shift_is_toggle) $('#settings-shift-toggle-on').prop('checked', true);
    else $('#settings-shift-toggle-off').prop('checked', true);

    if (setting_sudoku_full_size) $('#settings-sudoku-full-size-on').prop('checked', true);
    else $('#settings-sudoku-full-size-off').prop('checked', true);

    if (setting_show_keyboard) $('#settings_show_keyboard_on').prop('checked', true);
    else $('#settings_show_keyboard_off').prop('checked', true);

    if(window.mobileCheck()) {
        // override of things if mobile
        setting_shift_is_toggle = true;
        setting_show_keyboard = true;
        $('#keyboard_footer').show();
        $('#settings-shift-toggle-on').prop('checked', true);
        $('#settings-shift-toggle-off').attr('disabled', true);
        $('#settings-shift-toggle-off').prop('checked', false);
        $('#settings_show_keyboard_on').prop('checked', true);
        $('#settings_show_keyboard_off').attr('disabled', true);
        $('#settings_show_keyboard_off').prop('checked', false);
    }

    const csrf_token = '{{ csrf_token }}';
    const sudoku_name = '{{ sudoku_name }}';
</script>

<div class="container">
    <div class="row">
        {% if setting_sudoku_full_size %}
        <div class="col-md-12" id="sudoku-solver-wrapper-col">
        {% else %}
        <div class="col-md-8" id="sudoku-solver-wrapper-col">
        {% endif %}
            <div class="main-block">
                {% block solver_div %}
                {% endblock %}
            </div>
        </div>
        {% if setting_sudoku_full_size %}
        <div class="col-md-12" id="strategy-list-wrapper-col">
        {% else %}
        <div class="col-md-4" id="strategy-list-wrapper-col">
        {% endif %}
            <div class="main-block">
                <div>{% blocktrans %}
                    Všechny akce z této sekce pracují se sudoku tak, jak je právě vyplněno. Pokud je políčko ponecháno
                    bez vyplněného čísla a bez kandidátů, je nevyřešitelné.<br>
                    Před stiskem tlačítek se ujistěte, že všechna nevyplněná políčka obsahují možná kandidátní čísla,
                    nebo klikněte na automatické doplnění.
                {% endblocktrans %}</div>
                <div>
                    <button id="fill_candidates_everywhere" class="simple-round-button">
                        <div id="automatic-candidates-default">{% trans "Automatické doplnění kandidátů" %}</div>
                        <div id="automatic-candidates-loading" style="display: none;">
                            <i class="fas fa-spinner fa-pulse"></i></div>
                    </button>
                    <button class="simple-round-button" id="check-solvability">
                        <div id="check-solvability-text">{% trans "Otestovat řešitelnost a obtížnost" %}</div>
                        <div id="check-solvability-loading" style="display: none">
                            <i class="fas fa-spinner fa-pulse"></i></div>
                    </button>
                </div>
                <div>
                    <div id="next-step-default-button-wrapper">
                        <button class="simple-round-button next-step" id="get-next-step">
                            <i class="fas fa-angle-double-right"></i>
                            {% trans "Najít další krok" %}
                        </button>
                    </div>
                    <div id="next-step-next-action-wrapper" style="display: none">
                        <button class="simple-round-button next-step-approve" id="apply-next-step">
                            <i class="fas fa-angle-double-right"></i>
                            {% trans "Aplikovat krok" %}
                        </button>
                        <button class="simple-round-button next-step-cancel" id="cancel-next-step">
                            <i class="fas fa-ban"></i>
                            {% trans "Zrušit krok" %}
                        </button>
                    </div>
                    <div id="next-step-loading" style="display:none; width: 100%; text-align: center;">
                        <i class="fas fa-spinner fa-pulse"></i>
                    </div>
                </div>
            </div>
            <div class="main-block">
                <div class="custom-list-class">
                    {% trans 'Aplikovatelné strategie' %}
                    <i type="button" class="fas fa-info-circle" data-bs-toggle="modal"
                       data-bs-target="#strategyInfoModal"></i>
                </div>
            </div>
            <div class="main-block">
                <div class="custom-list-heading">{% trans 'Snadné strategie' %}</div>
                    {% for strategy_ref, strategy_name in easy_strategies.items %}
                        <div>
                            <i class="fas fa-minus strategy_list_icon strategy_list_icon_{{ forloop.counter0 }}"
                               id="icon-before-{{ strategy_ref }}"></i>
                            <a class="custom-list-item" href="/guides/{{ strategy_ref }}"
                               target="_blank" id="{{ strategy_ref }}">{{ strategy_name }}</a>
                        </div>
                    {% endfor %}
                <div class="custom-list-heading">{% trans 'Pokročilé strategie' %}</div>
                    {% if not advanced_strategies %}
                        {% trans 'V této kategorii nemá sudoku žádné strategie.' %}
                    {% endif %}
                    {% for strategy_ref, strategy_name in advanced_strategies.items %}
                        <div>
                            <i class="fas fa-minus strategy_list_icon strategy_list_icon_{{ forloop.counter0|add_prev_strategies:easy_strategies }}"
                               id="icon-before-{{ strategy_ref }}"></i>
                            <a class="custom-list-item" href="/guides/{{ strategy_ref }}"
                               target="_blank" id="{{ strategy_ref }}">{{ strategy_name }}</a>
                        </div>
                    {% endfor %}
            </div>
        </div>
    </div>
</div>

<script>
    {% if load_sudoku %}
        {% if load_sudoku == 'dictionary' %}
            load_sudoku_from_dictionary({{ cells }});
        {% elif load_sudoku == 'string' %}
            let wrong_lenght_error_msg = {% trans '"Parametr cells má špatnou délku pro daný typ sudoku. Očekáváno vs předáno: "' %}
            load_sudoku_from_string('{{ cells }}');
        {% endif %}
    {% endif %}
</script>
{% endblock %}

{% block footer %}
    <footer class="footer-block" id="keyboard_footer" {% if not setting_show_keyboard %}style="display:none;"{% endif %}>
        <div class="container">
            <div class="shorten-like-cols">
                <div id="hide_keyboard_div" class="keyboard">
                    <button class="my-generic-button" id="show_keyboard_button">
                        <i class="fas fa-keyboard"></i> <i class="fas fa-angle-up"></i>
                    </button>
                </div>
                <div id="show_keyboard_div" style="display: none;">
                    <div class="keyboard">
                        <button class="my-generic-button" id="hide_keyboard_button">
                           <i class="fas fa-keyboard"></i> <i class="fas fa-angle-down"></i>
                        </button>
                    </div>
                    <div class="keyboard">
                        <div>
                            {% for x in max_sudoku_number|get_range %}
                                <button class="sudoku-controls-button unselected keyboard-button" id="keyboard-{{ x|add:1 }}">
                                    {{ x|add:1|transform_to_letter_if_needed }}
                                </button>
                                {% if x|add:1|break_for_keyboard:max_sudoku_number %} <br>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}

