{% extends "solver/solver_layout.html" %}
{% load i18n %}

{% block modals %}
    {{ block.super }}

    <!-- Modal solverInfoModal -->
    <div class="modal fade" id="solverInfoModal" tabindex="-1" aria-labelledby="solverInfoModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
                {% trans 'Aplikace na řešení sudoku' %}
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            TODO
              <div class="settings-div">
                  <b>{% trans "Role klávesy Shift:" %}</b>
                  <form>
                      <input type="radio" id="settings-shift-toggle-on"/>
                      {% trans "Stisknutí shift přepínáná mezi zadáváním poznámky a vyplněním čísla." %}
                      <br>
                      <input type="radio" id="settings-shift-toggle-off"/>
                      {% trans "S podrženým shiftem je číslo vyplněno, bez podržení je vložena poznámka." %}
                  </form>
                  {% blocktrans %}
                      (V režimu vyplnění při podrženém shiftu tlačítka <i class="fas fa-pen-nib"></i>/
                      <i class="fas fa-pencil-alt"></i> pouze ukazují stav stisku klávesy a nelze přes ně přepínat režim
                      zadávání poznámky/vyřešeného čísla.)
                  {% endblocktrans %}
              </div>
              <hr>
              <div class="settings-div">
                  <b>{% trans "Rozložení stránky" %}</b>
                  <div class="row">
                      <div class="col-md-5 settings-layout-options-div">
                          <div class="row settings-layout-options-div-inner">
                              <div class="main-block" style="width: 350px; margin-left: auto; margin-right: auto;">
                                  sudoku
                                  <table style="margin: auto; zoom: 0.5;" class="sudoku sudoku-4x4">
                                      <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                      <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                      <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                      <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                  </table>
                              </div>
                              <div class="main-block" style="width: 190px; margin-left: auto; margin-right: auto;">
                                  {% trans 'A. Strategie' %}<hr><hr><hr></div>
                          </div>
                          <input type="radio" id="settings-sudoku-full-size-off"/>
                      </div>
                      <div class="col-md-5 settings-layout-options-div">
                          <div class="settings-layout-options-div-inner">
                              <div class="main-block">
                                  sudoku
                                  <table style="margin: auto; zoom: 0.5;" class="sudoku sudoku-4x4">
                                      <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                      <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                      <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                      <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                  </table>
                              </div>
                              <div class="main-block">{% trans 'Aplikovatelné strategie' %}<hr><hr><hr></div>
                          </div>
                          <input type="radio" id="settings-sudoku-full-size-on"/>
                      </div>
                  </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal generatorInfo -->
    <div class="modal fade" id="generatorInfoModal" tabindex="-1" aria-labelledby="generatorInfoModal" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
                {% trans 'Generátor sudoku' %}
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              {% blocktrans %}

              {% endblocktrans %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block solver_div %}
    <div class="row" style="margin: 0.2rem 0 1rem 0;">
        <div class="col-md-7">
            <i class="fas fa-file-download"></i>
            <a href="#" id="export-sudoku">
                {% trans "Stáhnout sudoku ve fromátu PNG" %}
            </a>
        </div>
        <div class="col-md-5" style="text-align: right">
            {% trans 'Ovládání a nastavení' %}
            <i type="button" class="fas fa-cog" data-bs-toggle="modal"
           data-bs-target="#solverInfoModal"></i>
        </div>
    </div>

    <div class="row" style="margin: 1rem 0 1rem 0;">
        <div class="col-md-12" style="text-align: center;">
            <div>
                <b>{% trans 'Generátor sudoku' %}</b>
                <i type="button" class="fas fa-info-circle" data-bs-toggle="modal"
                        data-bs-target="#generatorInfoModal"></i>
            </div>
            <div>
                <form>
                    <select id="generate_difficulty" name="difficulty">
                        <option value="easiest">{% trans "Velmi snadné" %}</option>
                        <option value="easy">{% trans "Snadné" %}</option>
                        <option value="medium">{% trans "Středně těžké" %}</option>
                        <option value="advanced">{% trans "Těžké" %}</option>
                        <option value="random-solvable">{% trans "Náhodně (řešitelné logickou cestou)" %}</option>
                        <option value="random">{% trans "Náhodně (nezaručena řešitelnost logickou cestou)" %}</option>
                    </select>
                </form>
            </div>
        </div>
    </div>

    <div class="row" style="margin: 1rem 0 1rem 0;">
        <div class="col-md-4" style="text-align: center;">
            <div><b>
                {% trans "Mód zadávání" %}
            </b></div>
            <div>
                <button id="controls_fill_solved" class="sudoku-controls-button unselected">
                    <i class="fas fa-pen-nib"></i>
                </button>
                <button id="controls_fill_notes" class="sudoku-controls-button selected">
                    <i class="fas fa-pencil-alt"></i>
                </button>
            </div>
        </div>

        <div class="col-md-8">
            <div>
                <b>{% trans "Podbarvení čísel" %}</b>
            </div>
            <div>
                {% for num in max_sudoku_number|get_range %}
                    <button id="highlight_number_{{ num|add:1 }}" class="sudoku-controls-button unselected highlight-button">
                        {{ num|add:1|transform_to_letter_if_needed }}
                    </button>
                {% endfor %}
                <button id="highlight_number_-1" class="sudoku-controls-button selected highlight-button">
                    <i class="fas fa-ban"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="row" style="margin: 1rem 0 1rem 0;">
        {% if developers_tools %}
            <div class="custom-list-heading">Developer's tools</div>
            <div class="col-md-7">
                <b>Custom highlight</b>
                <div>
                    <button id="custom-highlight-off" class="my-generic-button selected">
                        Off
                    </button>
                    <button id="custom-highlight-green" class="my-generic-button unselected color-pick-button">
                        <div class="color-pick-div" style="background-color: #2ECC40;">&nbsp;</div>
                    </button>
                    <button id="custom-highlight-yellow" class="my-generic-button unselected color-pick-button">
                        <div class="color-pick-div" style="background-color: #FFDC00">&nbsp;</div>
                    </button>
                    <button id="custom-highlight-red" class="my-generic-button unselected color-pick-button">
                        <div class="color-pick-div" style="background-color: #FF4136">&nbsp;</div>
                    </button>
                    <button id="custom-highlight-transparent" class="my-generic-button unselected color-pick-button">
                        <div class="color-pick-div" style="background-color: white;">&nbsp;</div>
                    </button>
                    <button id="custom-highlight-remove-all" class="my-generic-button unselected">
                        Remove All
                    </button>
                </div>
            </div>
            <div class="col-md-5">
                <input type="checkbox" id="fill_all_candidates_on_click"/> Fill with candidates by click<br>
                <button id="remove_candidates_everywhere" class="simple-round-button">
                    Remove all candidates
                </button>
                <button onclick="clear_sudoku()" class="simple-round-button">Clear All</button>
            </div>
        {% endif %}
    </div>

    {% block solver_block %}

    {% endblock %}

    <div id="strategy_explanation" class="strategy_explanation_div">
        <div id="strategy_explanation_default">
            {% blocktrans %}
                Zde se při vygenerování dalšího kroku sudoku zobrazí vysvětlení aplikované strategie.
            {% endblocktrans %}
        </div>
        <div id="strategy_explanation_custom" style="display: none;"></div>
    </div>


    <div>
        TODO other:<br>
        - nastavení - zobrazit obvious kolize<br>
        - jiný font mimo sudoku?<br>
        - až bude načítání sudoku a help done, ujistit se že highlight čísel se aplikuje i na ně<br>
        - další možnost vyplňování - stisk čísla vybere co se vyplňuje, klik to vyplní<br>
        pressing: <br>
        - when filling in, recalculate colisions accordingly <br>
        - add clear sudoku and clear all notes, bude i v generátor části takže asi tam až dát na real<br>
    </div>

{% endblock %}