{% extends "base.html" %}
{% load i18n %}

{% block modals %}
    {{ block.super }}

    <!-- Modal strategyInfoModal -->
    <div class="modal fade" id="strategyInfoModal" tabindex="-1" aria-labelledby="strategyInfoModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
                {% trans 'Aplikovatelné strategie' %}
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            TODO
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block content %}
<script>
    const max_sudoku_number = {{ max_sudoku_number }};

    {% if developers_tools %}
        const developers_tools = true;
    {% else %}
        const developers_tools = false;
    {% endif %}
    {% if setting_show_collisions %}
        let setting_show_collisions = true;
    {% else %}
        let setting_show_collisions = false;
    {% endif %}

    {% if setting_shift_is_toggle %}
        let setting_shift_is_toggle = true;
    {% else %}
        let setting_shift_is_toggle = false;
    {% endif %}

    {% if setting_sudoku_full_size %}
        let setting_sudoku_full_size = true;
    {% else %}
        let setting_sudoku_full_size = false;
    {% endif %}

    const csrf_token = '{{ csrf_token }}';
</script>

<div class="container">
    <div class="row">
        {% if setting_sudoku_full_size %}
        <div class="col-md-12" id="sudoku-solver-wrapper-col">
        {% else %}
        <div class="col-md-8" id="sudoku-solver-wrapper-col">
        {% endif %}
            <div class="main-block">
                {% block solver_div %}
                {% endblock %}
            </div>
        </div>
        {% if setting_sudoku_full_size %}
        <div class="col-md-12" id="strategy-list-wrapper-col">
        {% else %}
        <div class="col-md-4" id="strategy-list-wrapper-col">
        {% endif %}
            <div class="main-block">
                <div class="custom-list-class">
                    {% trans 'Aplikovatelné strategie' %}
                    <i type="button" class="fas fa-info-circle" data-bs-toggle="modal"
                       data-bs-target="#strategyInfoModal"></i>
                </div>
            </div>
            <div class="main-block">
                <div class="custom-list-heading">{% trans 'Snadné strategie' %}</div>
                    {% for strategy_ref, strategy_name in easy_strategies.items %}
                        <div>
                            <i class="fas fa-minus strategy_list_icon strategy_list_icon_{{ forloop.counter0 }}"
                               id="icon-before-{{ strategy_ref }}"></i>
                            <a class="custom-list-item" href="/guides/{{ strategy_ref }}"
                               target="_blank">{{ strategy_name }}</a>
                        </div>
                    {% endfor %}
                <div class="custom-list-heading">{% trans 'Středně těžké strategie' %}</div>

                <div class="custom-list-heading">{% trans 'Pokročilé strategie' %}</div>

                <div style="margin-top: 1rem;">* {% trans 'Strategie specifická pro tento druh sudoku.' %}</div>
            </div>

            <button onclick="test()">strategy highlight test</button>
            <button onclick="reset_strategy_icons()">reset</button>
            <button onclick="change_strategy_description('hello i am test')">click me</button>
        </div>
    </div>
</div>
{% endblock %}