body {
    background-image: url("/static/img/banner-poly.jpg");
    background-position-x: center;
}

.main-block {
    background-color: white;
    margin: 10px;
    padding: 10px;
    border: 2px solid lightskyblue;
}

.shadow-backup {
    -webkit-box-shadow: 0 0 10px black;
    box-shadow: 0 0 10px black;
}

.row {
    --bs-gutter-x: 0;
}