{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            <div class="main-block">
                <p class="strategy-list-heading">
                    Easy Strategies
                </p>
                <ul>
                    {% for link, strategy in easy_strategies.items %}
                        <li class="strategy-list-item">
                            <a href="/guides/{{ link }}">{{ strategy }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <p class="strategy-list-heading">
                    Medium Strategies
                </p>
                <p class="strategy-list-heading">
                    Advanced Strategies
                </p>
            </div>
        </div>
        <div class="col-md-9">
            <div class="main-block">
                <p class="guide-title">{% block guide_title %}{% endblock %}</p>
                {% block guide_content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}