{% extends "guides/guide_base.html" %}
{% load i18n %}

{% block guide_title %}
Hidden Triple+
{% endblock %}

{% block guide_content %}
    {% blocktrans %}
        Popis strategie Hidden Triple.
    {% endblocktrans %}

    <i class="fas fa-exclamation-triangle"></i>
    UNDER CONSTRUCTION
    <i class="fas fa-spin fa-wrench"></i> <!-- TODO construction -->

    <p style="text-align: center">
        <a href="/solver/sudoku9x9?load_from=string&cells=.531.8..4.6...5..8..82....3..........258...977.9..1.6.832.1...9..478...6.......81">
            Sudoku, na kterém lze využít strategii Hidden Triple+
        </a>
    </p>
{% endblock %}