{% extends "guides/guide_base.html" %}
{% load i18n %}

{% block guide_title %}
    Hidden Single
{% endblock %}

{% block guide_content %}
    {% blocktrans %}
        Popis strategie Hidden Single.
    {% endblocktrans %}

    <i class="fas fa-exclamation-triangle"></i>
    UNDER CONSTRUCTION
    <i class="fas fa-spin fa-wrench"></i> <!-- TODO construction -->

    <p style="text-align: center">
        <a href="/solver/sudoku9x9?load_from=string&cells=.2.8.5.9..4..97.1.....64...3....8..4..8..65....29.18....14.32..763152948.....9...">
            Sudoku, na kterém lze využít strategii Hidden Single
        </a>
    </p>
{% endblock %}