{% extends "guides/guide_base.html" %}
{% load i18n %}

{% block guide_title %}
Hidden Pair
{% endblock %}

{% block guide_content %}
    {% blocktrans %}
        Text strategie Hidden Pair/Triple co ji popíše a ukáže na praktický příkladech (vygenerovaných
        z vlastního programu). Na konci bude obsahovat link/sudoku kde se přímo musí použít.

        <i class="fas fa-exclamation-triangle"></i>
        UNDER CONSTRUCTION
        <i class="fas fa-spin fa-wrench"></i> <!-- TODO construction -->
    {% endblocktrans %}
{% endblock %}