{% extends "guides/guide_base.html" %}
{% load i18n %}

{% block guide_title %}
    {% trans 'Strategie řešení sudoku' %}
{% endblock %}

{% block guide_content %}
    {% blocktrans %}
        <p>
            Pro zobrazení popisu strategie stačí kliknout na její název v seznamu strategií.
        </p>
        <p>
            V seznamu strategí jsou vypsány ty nejběžnější od subjektivně nesnazších po nejobtížnější. Jejich názvy
            jsou ponechány tak, jak se vžily v anglickém jazyce, protože ani většina českých zdrojů je nepřekládá. I tak
            se jejich názvy z různých zdrojů mohou lišit a je možné na určitý princip strategie narazit s jiným jménem
            či může být jinak obtížnostně ohodnocený.
        </p>
        <p>
            Existují i náročnější a komplexnější strategie, než ty zde uvedené. Cílem této stránky bylo sesbírat
            ty nejběžnější pro průměrného řešitele sudoku.
        </p>
    {% endblocktrans %}
{% endblock %}