{% extends "guides/guide_base.html" %}
{% load i18n %}

{% block guide_title %}
    Intersection Removal
{% endblock %}

{% block guide_content %}
    {% blocktrans %}
        Popis strategie Intersection Removal.
    {% endblocktrans %}

    <i class="fas fa-exclamation-triangle"></i>
    UNDER CONSTRUCTION
    <i class="fas fa-spin fa-wrench"></i> <!-- TODO construction -->

    <p style="text-align: center">
        <a href="/solver/sudoku9x9?load_from=string&cells=38.2514.757.9..1....23.758.821.9..75...7158..7.5.2..412.8..67....3.72.18..7..925.">
            Sudoku, na kterém lze využít strategii Intersection Removal
        </a>
    </p>
{% endblock %}