{% extends "guides/guide_base.html" %}
{% load i18n %}

{% block guide_title %}
Naked Single
{% endblock %}

{% block guide_content %}
    {% blocktrans %}
        Popis strategie Naked Single.
    {% endblocktrans %}

    <i class="fas fa-exclamation-triangle"></i>
    UNDER CONSTRUCTION
    <i class="fas fa-spin fa-wrench"></i> <!-- TODO construction -->

    <p style="text-align: center">
        <a href="/solver/sudoku9x9?load_from=string&cells=050703060007000800000816000000030000005000100730040086906000204840572093000409000">
            Sudoku, na kterém lze využít strategii Naked Single
        </a>
    </p>

{% endblock %}