{% extends "guides/guide_base.html" %}
{% load i18n %}

{% block guide_title %}
Naked Pair
{% endblock %}

{% block guide_content %}
    {% blocktrans %}
        Popis strategie Naked Pair.
    {% endblocktrans %}

    <i class="fas fa-exclamation-triangle"></i>
    UNDER CONSTRUCTION
    <i class="fas fa-spin fa-wrench"></i> <!-- TODO construction -->

    <p style="text-align: center">
        <a href="/solver/sudoku9x9?load_from=string&cells=8126....994.158...5.6.29481.9.4.6..5.2..9..4.6542.3.9.2.5...9..4..97....1.9..28.4">
            Sudoku, na kterém lze využít strategii Naked Pair
        </a>
    </p>
{% endblock %}