{% extends "guides/guide_base.html" %}
{% load i18n %}
{% load static %}

{% block guide_title %}
Naked Triple+
{% endblock %}

{% block guide_content %}
    {% blocktrans %}
        Popis strategie Naked Triple.
    {% endblocktrans %}

    <p class="guide-image-div">
        <img src="{% static "img/strategy_naked_triple_1.png" %}">
    </p>

    {% blocktrans %}
        <p>
            TODO
        </p>
    {% endblocktrans %}

    <p class="guide-image-div">
        <img src="{% static "img/strategy_naked_triple_2.png" %}">
    </p>

    {% blocktrans %}
        <p>

        </p>
    {% endblocktrans %}

    <p class="guide-image-div">
        <img src="{% static "img/strategy_naked_triple_3.png" %}">
    </p>

    <p style="text-align: center">
        <a href="/solver/sudoku9x9?load_from=string&cells=8..76...4.71..3658.6..8..7....5.9.....36.47.5.56..841.2.78.6..1..9..72.....192..7">
            Sudoku, na kterém lze využít strategii Naked Triple+
        </a>
    </p>
{% endblock %}