{% extends "guides/guide_base.html" %}
{% load i18n %}
{% load static %}

{% block guide_title %}
    {% blocktrans %}
        Odstranění přímých kolizí
    {% endblocktrans %}
{% endblock %}

{% block guide_content %}
    {% blocktrans %}
        <p>
            Před aplikací první strategie je vhodné odstranit kandidáty z těch bloků, ve kterých je již
            daná číslice vyplněná. Tento krok je vhodné provést pokaždé, kdy se díky některé strategii
            vyplní další číslice.
        </p>
    {% endblocktrans %}
    <p class="guide-image-div">
        <img src="{% static "img/strategy_remove_collisions.png" %}">
    </p>
    {% blocktrans %}
    <p>
        Doplněné číslo 4 odstraní možné umístění kandidátů 4 ze všech buněk v daném sloupci, řádku i sektoru.
    </p>
    {% endblocktrans %}
{% endblock %}