{% extends "guides/guide_base.html" %}
{% load i18n %}

{% block guide_title %}
Naked Pair
{% endblock %}

{% block guide_content %}
    {% blocktrans %}
        Popis strategie Swordfish.
    {% endblocktrans %}

    <i class="fas fa-exclamation-triangle"></i>
    UNDER CONSTRUCTION
    <i class="fas fa-spin fa-wrench"></i> <!-- TODO construction -->

    <a href="/solver/sudoku9x9?load_from=string&cells=815...9..426.9.31.739...5.2148623795693.5..2.25791..3.9.1....73374.6925.5.2.....9">
        Sudoku #10 [Swordfish]
    </li>
{% endblock %}