{% extends "guides/guide_base.html" %}
{% load i18n %}
{% load static %}

{% block guide_title %}
Swordfish
{% endblock %}

{% block guide_content %}
    {% blocktrans %}
        <p>
            Strategie Swordfish je založená na stejném principu jako <a href="/guides/x-wing">X-Wing</a>,
            avšak pracuje s výskytem 3 kandidátů.
        </p>
        <p>
            Pokud se jeden kandidát nachází v třech řádcích pouze na třech pozicích a všechny tyto
            pozice leží pouze ve třech sloupcích, lze aplikovat tuto strategii.
            Kandidátní čísla jsou omezena řádky natolik, že při libovolném umístění bude v každém sloupci
            vyplněno jedno v rámci těchto řádků – kandidát se tedy nemůže nacházet na ostatních
            pozicích sloupce.
        </p>
        <p>
            Tato strategie může také vyjít z omezených sloupců, které se promítnou do řádků.
        </p>
    {% endblocktrans %}

    <p class="guide-image-div">
        <img src="{% static "img/strategy_swordfish.png" %}">
    </p>

    {% blocktrans %}
        <p>
        V řádku 2, 4 a 7 se kandidátní číslo 1
        nachází pouze ve třech buňkách (žlutě), a tyto buňky leží ve třech stejných sloupcích 3, 5
        a 7. Číslo 1 proto v těchto sloupcích musí být v jednom z vybraných řádků a můžeme je ze
        zbylých pozic odstranit (červeně).
        </p>
    {% endblocktrans %}

    <p style="text-align: center">
        <a href="/solver/sudoku9x9?load_from=string&cells=815...9..426.9.31.739...5.2148623795693.5..2.25791..3.9.1....73374.6925.5.2.....9">
            Sudoku, na kterém lze využít strategii Swordfish
        </a>
    </p>
{% endblock %}