{% extends "guides/guide_base.html" %}
{% load i18n %}

{% block guide_title %}
X-Wing
{% endblock %}

{% block guide_content %}
    {% blocktrans %}
        Popis strategie X-Wing.
    {% endblocktrans %}

    <i class="fas fa-exclamation-triangle"></i>
    UNDER CONSTRUCTION
    <i class="fas fa-spin fa-wrench"></i> <!-- TODO construction -->

    <a href="/solver/sudoku9x9?load_from=string&cells=2...4...36..239..8....7....129486537854397216736152984.71825.699..763..1.6.914.7.">
    Sudoku #8 [X-Wing]
    </a>
{% endblock %}