{% extends "guides/guide_base.html" %}
{% load i18n %}
{% load static %}

{% block guide_title %}
XY-Chain
{% endblock %}

{% block guide_content %}
    {% blocktrans %}
        <p>
        </p>
    {% endblocktrans %}

    <p class="guide-image-div">
        <img src="{% static "img/strategy_xy_chain_1.png" %}">
    </p>

    {% blocktrans %}
        <p>
        </p>
    {% endblocktrans %}

    <p class="guide-image-div">
        <img src="{% static "img/strategy_xy_chain_2.png" %}">
    </p>

    {% blocktrans %}
        <p>
        </p>
    {% endblocktrans %}

    <p style="text-align: center">
        <a href="/solver/sudoku9x9?load_from=string&cells=89......6..689...32.37.6.98189.2.765754968321632571984.2.6.78399.8.356..36..89.5.">
            Sudoku, na kterém lze využít strategii XY-Chain
        </a>
    </p>
{% endblock %}