{% extends "guides/guide_base.html" %}
{% load i18n %}

{% block guide_title %}
Y-Wing
{% endblock %}

{% block guide_content %}
    {% blocktrans %}
        Popis strategie Y-Wing.
    {% endblocktrans %}

    <i class="fas fa-exclamation-triangle"></i>
    UNDER CONSTRUCTION
    <i class="fas fa-spin fa-wrench"></i> <!-- TODO construction -->

    <a href="/solver/sudoku9x9?load_from=string&cells=8..93546...628739..9346128.3..698152618752934..931467898.1735.6.6.5298.3.358467.9">
        Sudoku, na kterém lze využít strategii.
    </a>
{% endblock %}