{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="main-block">
                {% blocktrans %}
                    <p>
                    Tato stránka se zaměřuje na řešení sudoku i jeho netradičních typů jako je diagonální sudoku,
                    jigsaw a další.
                    </p>
                    <p>
                    V sekci <a href="/solver">Řešení sudoku</a> se nachází pro každý typ sudoku aplikace pro jeho
                    řešení. Naleznete tam vysvětlení pravidel pro jednotlivé typy sudoku, prostředí pro jeho
                    luštění a především grafické znázornění dalšího logického kroku na rozluštěném sudoku.
                    </p>
                    <p>
                    V sekci <a href="/guides">Návody</a> lze najít vysvětlené jednotlivé strategie pro řešení sudoku
                    ukázané na praktických příkladech.
                    </p>
                    <p>
                    Tato webová stránka vznikla jako součást bakalářské práce na téma "Výukový program pro hraní
                    netradičních forem hry SUDOKU".
                    </p>
                {% endblocktrans %}
                <p style="text-align: center">
                    <a href="/solver/sudoku9x9?load_from=string&cells=...........71.82...3672948.791486325328...146.542.379...58419.....975.......6....">
                        <img src="{% static "img/sudoku_heart.png" %}" style="width: 30%;"></a>
                    <div style="text-align: center">{% trans "Vytvořeno s láskou pro sudoku." %}</div>
                </p>
            </div>
        </div>
    </div>
{% endblock %}