{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="main-block">
                {% trans 'Vítejte na stránce mého Sudoku Helper projektu :)' %}
                <div>
                    {% trans 'Solver se nachází zde: ' %}
                    <a href="solver">{% trans 'Solver' %}</a>
                </div>
                <div>
                    {% trans 'Návody jsou zde: ' %}
                    <a href="guides">{% trans 'Guides' %}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}